body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(0,152,155,1) 0%, rgba(0,94,120,1) 94.2%, rgba(39,210,175,1) 98.7%);
    color: white;
    padding: 20px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right : 20px
}

nav ul li a {
    color: white;
    text-decoration : none;
}

.hero {
    background: url(https://imgs.search.brave.com/lhLzza-rKMzwF0XmFUT57N2e0eeaQhJRWgo-DqX2SpI/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jYy1w/cm9kLnNjZW5lNy5j/b20vaXMvaW1hZ2Uv/Q0NQcm9kQXV0aG9y/L2xlbnMtcGhvdG9n/cmFwaHlfUDFfOTAw/eDQyMD8kcGpwZWck/JmpwZWdTaXplPTIw/MCZ3aWQ9OTAw) no-repeat;
    text-align: center;
    padding: 50px 20px;
    justify-content: center;
    min-height: 50vh;
    align-items: center;
    background-size: cover;
    background-blend-mode: darken;
}

.hero h2 {
    margin 0;
    font-size: 2.5em;

}

.services {
    padding: 50px 20px;
    text-align: center;
    display: inline-table;
}

.services h2 {
    font-size: 2em;
    margin-bottom: 20px;


}

.service-container {
    display: inline-block;
    display: flex;
    justify-content: space-round;

}

.service {
    display: inline-block;
    width: 20%;
    background: #f4f4f4;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 0px solid #ccc;
    border-radius: 10px;
}

.service img {
    width: 100%;
    height: auto;
}

.service h3 {
    margin-top: 15px;
    font-size: 1.5em;
}

.service p {
    font-size: 1rem;
    color: #555;
}

.service button {
    background: #00989b;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;

}

.service button:hover {
    background: #007a7d;
}

footer {
    background: radial-gradient(circle farthest-corner at 10% 20%, rgba(0,152,155,1) 0%, rgba(0,94,120,1) 94.2%, rgba(39,210,175,1) 98.7%);
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer h1 {
    margin: 0;
}

footer nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 10px 0 20px;
}

footer nav ul li {
    margin-right: 20px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 0;
}

